# 跨跨域配置
CORS_ORIGINS=["http://localhost:2090"]
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]
CORS_EXPOSE_HEADERS=["*"]

# JWT配置
JWT_SECRET=********* # JWT密钥
JWT_ALGORITHM_JWT=HS256 # JWT算法，HS256表示256位哈希算法
JWT_EXPIRE_MINUTES=60 # JWT过期时间，单位为分钟


# 数据库配置
DB_HOST=127.0.0.1 # 数据库主机地址
DB_PORT=3306 # 数据库端口
DB_USER=root # 数据库用户名
DB_PASSWORD=********* # 数据库密码
DB_NAME=uer # 数据库名称
# 服务器配置
SERVER_HOST=127.0.0.1 # 服务器主机地址
SERVER_PORT=1090 # 服务器端口

